*{
    font-family: 'Poppins', sans-serif;
    
    }
    body{
        background-color: #111111;
    }

.bt_comum{
    background-color: rgb(0, 118, 253);
    padding: 11px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: rgb(219, 237, 255);
}
.bt_delet{
    border: solid 1px #a968b9;
    background-color: rgb(185, 51, 107);
    padding: 4px 7px;
    

    border-radius: 4px;
    color: rgb(219, 237, 255);
}
.bt_enviar{
    border: none;
    background-color: rgb(54, 194, 36);
    padding: 11px 20px;
    
    border: none;
    border-radius: 10px;
    color: rgb(225, 250, 222);
}
.bt_comum_negativo{
    border: none;
    margin-left: 50px;
    background-color: rgb(194, 36, 89);
    padding: 11px 20px;
    
    border: none;
    border-radius: 10px;
    color: rgb(255, 222, 233);
}



.negativo{
    color: rgb(177, 21, 21);
}

#resultado{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}

.mostrarpadrao{
    border: solid 1px #fff;
    border-radius: 4px;
    background-color: #2b2a2a;

}

.inferior fieldset{
    color: aliceblue;
    border-radius: 4px;
    justify-content: space-around;
    
    
}
.entrada{
    background-color: rgba(197, 197, 197, 0.295);
}
.buts{
    flex-wrap: wrap;
    align-content: end;
}
.inferior{
    display: flex;
    flex-direction: column;
    gap: 20px;
}